<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/criar" routerLinkActive="active" class="navbar-brand">Cadastro de Pessoa</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-app">
        <span class="sr-only">Mostra/Esconde a navegação</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="header-app">
      <ul class="nav navbar-nav">
        <li><a routerLink="/criar" routerLinkActive="active">Criar pessoa</a></li>
        <li><a routerLink="/lista" routerLinkActive="active">Lista de pessoas</a></li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/giordanna/projeto-cadastro-pessoa"
          >
            Github
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
