<div class="row">
  <h3>Pessoas cadastradas</h3>
  <div class="col-xs-12 form-group">
    <input type="text"
           (keyup)="filtrarPessoas()"
           [(ngModel)]="query" class="form-control"
           placeholder="Filtrar pelo nome..." />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a class="col-sm-6 link-sem-estilo" routerLink="/lista/{{ pessoa.id }}"
       *ngFor="let pessoa of pessoasVisiveis">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ pessoa.nome }}
        </div>
        <div class="panel-body">
           {{ pessoa.login }}
        </div>
      </div>
    </a>
  </div>
</div>
