<div class="row">
  <h3>Pessoas cadastradas</h3>
  <div class="col-xs-12 form-group">
    <input type="text"
           (keyup)="filtrarPessoas()"
           [(ngModel)]="query" class="form-control"
           placeholder="Filtrar pelo nome..." />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a class="col-sm-6 link-sem-estilo" routerLink="/lista/{{ pessoa.id }}"
       *ngFor="let pessoa of pessoasPaginadas">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{ pessoa.nome }}
        </div>
        <div class="panel-body">
           {{ pessoa.login }}
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-sm">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="onMudarPaginas(1)">&laquo;</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="onMudarPaginas(pager.currentPage - 1)">&lt;</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="onMudarPaginas(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="onMudarPaginas(pager.currentPage + 1)">&gt;</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="onMudarPaginas(pager.totalPages)">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
